<h2 class="sign-in">Contact</h2>
<p class="p-width">Any questions?</p>
<p class="p-width">Just send us a message using the form below!</p>
<div class="clear"></div>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row" id="contact-row">
  <div class="form-group">
    <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
  	<%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
  </div>
  <div class="form-group">
    <%= text_area_tag :message, nil, class: "form-control", placeholder: "Message" %>
  </div>
  <div class="actions">
    <%= submit_tag "Send", :id => "submit-msg" %>
  </div>
<% end %>
</div>