<div class="container-fluid"> 
  <div class="clear"></div>
  <div class="promo-div">    
    <div class="clear"></div>
    <p class="promo-25off">25% off</p>
    <p class="promo-all">all pyjamas</p>
      <div class="shop-button">
        <button class="shop"><%= link_to 'SHOP', products_url %></button>
      </div>
    </div>
  <div class="clear"></div>
  <h4 class="worldwide">We deliver worldwide</h4>
  <hr>
  <div class="container-fluid">
    <div class="row" id="landing-images">
      <div class="col-sm-1 col-md-3" class="limg">
        <%= link_to(image_tag("https://ooiceg.bl.files.1drv.com/y4m0mhu4x5c5ARvoY2GhfiCpTvnZ4G8hFGf5Vtgu8SoWDGWgq7jLE7ojrbG-yhNePd4EzzWqgYYfSYN2vOM7doX3lVbAoA1NaA0JnDy2A_XTqUPgKXth3XEXEy-d13aJDFnWqRYFnyBYEcSxLUggX9BoLL20jcbR3r2f_cyv0oFXkJFl7R_JNU6VUNpEaRMqNvoN3dAsveVm2KFERzugfJUDg?width=220&height=220&cropmode=none"), products_url) %>
      </div>
      <div class="col-sm-1 col-md-3" class="limg">
        <%= link_to(image_tag("https://o4iceg.bl.files.1drv.com/y4moABJaXzJGmbvhePvkXX3KF1YNLbYOVRhnyKBO7dthREaawFLpn6ixMjkAF2RxTukWeZ2i9hSY5UL7W8h_oqqmKJ8VH1wuwbwr89HC1WReSxijdcYo5qsPYjEmX4VlOSd6kegGGWQvpjlhO-Z2k1AXGpjua9zVkgGzPfeWjCWV8cfedFs2EtOTz1DybPnEKRXb7_Ea6iaGKK2bZ3clav4QA?width=220&height=220&cropmode=none"), products_url) %> 
      </div>
      <div class="col-sm-1 col-md-3" class="limg">
        <%= link_to(image_tag("https://piijwq.bl.files.1drv.com/y4mD-edwQkfPhzeRIBy3aS4irTpmqv_3jKsWNqDRzW8IShnbaYC6sCN6rM0crASCUWc6suVey6dGnNEopu4R0z-L8eWFpAkmNJC0lMsVnsWtn-7xNuQpIURcBfztPrm-JKSsmHsTh6EhDbM43mBgTx_I8TtzrlDdOFdU49h_cUNtwwrDBITaUg23LnOdwOGPzc-8SAQszdkH--JqonQGLqEhg?width=220&height=220&cropmode=none"), products_url) %>
      </div>
      <div class="col-sm-1 col-md-3" class="limg">
        <%= link_to(image_tag("https://n4iceg.bl.files.1drv.com/y4mrHmRgGaXnnTQSD1Nt_3qiX1OiXavjMFS2qukIMK3ZQrqpXTSWrRWPVuaT5Qzjegx-p_rsehDq5_Vf1wib69EnNCqbHCm6ig47mL5hxJ6DmdTdQmkp7AgYDhYNHALiUCJK7ADeuub0vPN39Cs7pnE4ZZTQ1WOvbOtIxCL0u4Y0MOaEEy7KvmT7pvr81KQlbcCQfHTLlCbwP6QhQPCgLhrPg?width=220&height=220&cropmode=none"), products_url) %>
      </div>
    </div>
  </div>
  <hr>
</div>
