<table>
  <thead>
    <h1>Pyjamas</h1>
  </thead>

  <tbody>
    
      <tr>
        <div class="container-fluid">
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-2 col-md-4">
              <%= image_tag(product.image_url, class: "img-responsive") %>
              <strong><%= product.name %></strong>
              <p><%= product.description %></p>
              <p><%= product.color %></p>
              <p><%= product.price %></p>
              </div><!--/col-->
            <% end %>
          </div>
        </div>


    