<p id="notice"><%= notice %></p>
<div class= "container product-class">
  <div class="row">
    <div class="col-md-12">
      <h1 class="product-name"><%= @product.name %></h1>
      <p class="product-p"><%= @product.description %></p>
  <%= image_tag(@product.image_url, class: "img-responsive product-show") %>
      <p class="product-p">colour: <%= @product.color %></p>
    <p class="product-p">$ <%= @product.price %></p>
    <p>Average Rating: 
    <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
  
    </div>  
    <%= render partial: 'comments' %>
    <%= render partial: 'new_comment' %>
    <div class="row mtop20">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
    
    </div>
  </div>
</div>
    
