<p id="notice"><%= notice %></p>
<div class= "container product-class">
  <div class="row">
    <div class="col-md-12">
      <h1 class="product-name"><%= @product.name %></h1>
      <p class="product-p"><%= @product.description %></p>
  <%= image_tag(@product.image_url, class: "img-responsive product-show") %>
      <p class="product-p">colour: <%= @product.color %></p>
    <p class="product-p"><%= number_to_currency(@product.price, precision: 0)%></p>
    <p>Average Rating: 
    <div class="rated overall-rating" data-score="<%= @product.average_rating %>"></div></p>
    </div>
    <div class="stripe-payment"><%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
    </div>
    <%= render partial: 'new_comment' %>
    <%= render partial: 'comments' %>

    
   
    
    </div>
    
  </div> 
  <div class="paginate"><%= will_paginate @comments %></div>
  <div class="clear"></div>
 <div class="row mtop20">
  <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
</div>